/*GROUP MEMBERS*/

.band-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 350px;
}

/*SOCIAL MEDIA*/

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fab {
  text-decoration: none;
  padding: 10px;
  font-size: 30px;

  &:hover {
    opacity: 0.7;
  }
}
.fa-facebook-square {
  color: $blue-fb;

  &:hover {
    color: $blue-fb;
  }
}

.fa-twitter-square {
  color: $blue-tw;

  &:hover {
    color: $blue-tw;
  }
}

.fa-instagram-square {
  color: $pink-ig;

  &:hover {
    color: $pink-ig;
  }
}
